@import url(./variables.css);
@import url(./fonts/fonts.css);

body {
  background-color: var(--colors-background);
}

.onHoverEffect {
  opacity: 1;
}

.onHoverEffect:hover {
  opacity: 0.5;

  transition: all 0.3s ease;
}
